* {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

.container {
    margin-top: 25px;
}

.main {
    margin-top: 50px;
}

#input {
    margin-top: 50px;
}

#burger, .btn{
    margin-top: 15px;
}